  # ignore temporary files and databases
.ipynb_checkpoints
.DS_Store
__pycache__
*.db
*.pytest_cache
*pkl

# ignore data folders and files
data/
Train_Test_Folder/
*.tar.gz
*.zip
.jpeg
.jpg

# ignore models
.keras
.h5
.pkl
models/

# ignore all .md files
.md

# does not ignore the README.md file
!README.md
